 /* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Asterisk wildcard selector*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    min-height1:100%;
    position: relative;
}
/*General Styles*/
body{
    min-height: 100vh;
    background-color: rgb(232, 245, 174);
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    color:#3a3a3a;
}
/*header*/
header{
    background-color: rgba(226, 125, 43, 0.973);
    text-align: center;
    height: 60px;
    color: black;

    
}
header h2{
    margin-top: 10px;
}
.player h2, .computer h2{
    font-size: 1rem;
}

/*main */
main{
    /*make main take athe srplus space to push footer down*/
    flex: 1 0 auto;
}
h1,h2,h3{
    font-family: Oswald, sans-serif;
}
/*game area*/
.game-area{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
}
.control{
    display: inline-block;
    width: 80px;
    height: 40px;
    margin: 2px;
}
#message{
    height: 20px;
}
.player{
    background-color: lightblue;
    float: left;
    width: 45%;
}
#player-image{
    width: 75%;
}
.computer{
    background-color: lightcoral;
    float: right;
    width: 45%;
}
#computer-image{
    width: 75%;
}
/*footer*/
footer{
    background-color: rgba(226, 125, 43, 0.973);
    position1: absolute;
    width: 100%;
    left1: 0;
    bottom1: 0;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    color: black;
}

/*Media quiry: tablet and larger(768px and up)*/
@media screen and (min-width:768px){
    
}